@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(245, 245, 245);
}

.nav h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  max-width: 1600px;
  max-height: 100px;
  padding: 24px 160px 24px 160px;
  margin: auto 30px;
}

.btn-secondary {
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  padding: 15px 30px 15px 30px;
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.text-align-center {
  text-align: center;
}

.title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  /* text-align: left; */
}

p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  /* text-align: left; */
}

#banner {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* align-items: center; */
  margin: 0 auto;
  /* padding: 2rem; */
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  border-radius: 24px;
  background: rgb(198, 228, 214);
  max-width: 1280px;
  height: 560px;
  gap: 64px;
  margin-bottom: 80px;

  /* padding: 0 0px; */
}

#banner .banner-content {
  display: flex;
  flex-direction: column;
  width: 622px;
  min-height: 201px;
  /* height: 326px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  margin: auto 0;

  /* justify-content: center; */

  /* margin: 117px 60px; */
}

/* #banner .banner-content .btn-primary {
} */

#banner .banner-content p {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  /* margin: 16px 0px; */
}

#banner .banner-content h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 24px;
  /* margin: 16px 0px; */
}

#banner .btn-primary button {
  border-radius: 8px;
  border: none;
  background: rgb(0, 106, 80);

  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;

  gap: 48;
  padding: 17px 34px 17px 34px;
}

#banner .banner-img {
  max-width: 474px;
  height: 329px;
  padding: 106px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

#pillar {
  max-width: 1280px;
  max-height: 765px;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 16px; /* Add padding to prevent overlap */
  /* box-sizing: border-box; */
}

#pillar .cards {
  /* background-color: white; */
  /* background-position: center; */
  gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

#pillar .cards .card {
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  width: 302px;
  height: 244px;
  background: rgb(255, 255, 255);
  padding: 24px;
}

#opinion {
  margin-top: 24px;
  margin: auto;
  /* Frame 2087325622 */
  position: static;
  width: 1280px;
  height: 481px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24;
  padding: 0px;
  /* border: 1px solid blue; */
  /* Inside Auto Layout */
  /* flex: none;
  order: 2;
  flex-grow: 0;
  margin: 80px 0px; */
}

#future {
  /* display: flex;
    justify-content: center;
    /* flex-direction: column; */
  /* align-items: center; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* background-color: #f0f0f0;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 24px;
    background: rgb(198, 228, 214);
    max-width: 1280px;
    height: 560px; */

  max-width: 1280px;
  max-height: 1406px;
  margin: 0 auto;
  margin-top: 80px;
}

#future .cards {
  display: flex;
  gap: 24px;
  text-align: left;
  /* justify-content: center; */
}

#future p {
  margin: 6px 0px;
  margin-bottom: 24px;
}

#future .cards .card {
  max-width: 410px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 32px;
  height: 325px;
}

#future .learn-more-btn {
  border-radius: 8px;
  border: none;
  padding: 11px 20px 11px 20px;
  /* color: white; */

  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

#yunus {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;

  background: rgb(255, 255, 255);

  max-width: 1280px;
  height: 256px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12;
  /* padding: 0px; */
  margin: 0 auto;
  margin-top: 32px;
  padding: 48px 24px 48px 24px;
  /* Centers the image */
  /* background-position: center; */
}

.bg {
  background-image: url("../assets/quote.svg");
  background-position: top left, top left;
  background-repeat: no-repeat;
  /* background: rgba(14, 14, 14, 0.3); */
}

#opinion {
  margin-top: 80px;
  width: 1280px;
  height: 481px;
  /* margin-bottom: 24px; */
}

#opinion .table-container {
  width: 1280px;
  height: 409px;
  border-radius: 16px;
  margin-top: 24px;
  background: rgb(255, 255, 255);
}

#recent-news {
  max-width: 1280px;
  height: 1406px;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
}

#recent-news .cards {
  width: 1280px;
  height: 1254px;
  display: flex;
  gap: 32;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  /* padding: 48px; */
}

#recent-news .cards .card-box {
  border-radius: 24px;
  background-color: white;
  /* flex-direction: column; */
  max-width: 1280px;
  max-height: 402px;
  padding: 48px;
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

#recent-news .cards .card-content {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  max-height: 210px;
  max-width: 744px;
}

#recent-news .cards .card-box .date-time {
  display: flex;
  gap: 12px;
}

#recent-news .card-img {
  /* object-fit: cover; */
  background-color: white;

  max-height: 306px;
  max-width: 1280px;
}

#recent-news .card-img img {
  object-fit: cover;
}

#recent-news .read-more-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 48;
  margin-top: 64px;

  /* padding: 13px 26px 13px 26px; */
  /* border-radius: 8px; */
  /* background: rgb(0, 106, 80); */
}

#recent-news .read-more-btn button {
  border: none;
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48; */
  padding: 13px 26px 13px 26px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: white;
}

#donation {
  max-width: 1280px;
  max-height: 464px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* padding: 160px; */
  /* box-sizing: border-box; */
  /* Auto layout */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32;
  padding: 0px; */
}

#donation .card-box {
  width: 1071px;
  height: 128px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0px;
  margin: 0 auto;
}
#donation p {
  position: static;
  max-width: 1104px;
  margin: 0 auto;
  /* margin-right: 24px;
  margin-left: 24px; */
}

#donation .card {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  /* width: 240px; */
  height: 128px;
  padding: 40px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

#donation form {
  display: flex;
  width: 1032px;
  height: 64px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  margin-top: 32px;
}

input {
  display: block;
  width: 1032px;
  padding: 20px 40px 20px 40px;
  border: none;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

#donation .btn-primary {
  margin: 0 auto;
  margin-top: 32px;
}
#donation .btn-primary button {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  border: none;

  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 17px 34px 17px 34px;
}

footer {
  background-color: white;
  margin-top: 80px;
  margin-bottom: 50px;
  gap: 32;
  padding: 50px 160px 50px 160px;
  text-align: center;
}

footer .socials {
  margin-top: 32.5px;
  display: flex;
  gap: 23px;
  justify-content: center;
}

hr {
  max-width: 1122px;
  border: 1px solid rgba(14, 14, 14, 0.1);
  margin: 0 auto;
}
